- if @oven.cookies.count == 0 
  = link_to "Prepare Cookie", new_oven_cookies_path(@oven), class: 'button'

%h3= @oven.name

.cookie-info
  Cookies in oven:
  - if @oven.cookies.count > 0
    #{ @oven.cookies.count } #{ @oven.cookies.count > 1 ? "Cookies" : "Cookie" } with #{ @oven.cookies.fillings }
    = render_async status_oven_path, interval: 5000 do
      = render "status"
  - else
    None
%br
